Repository jbenner-radham/10up-react-application-exercise: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

Bundle CSS
  assets/css/header.css
  assets/css/layout.css
  assets/css/login.css
  assets/css/post.css
  package-lock.json
  package.json
  public/index.html
  src/index.js
  webpack.config.js
Due: eslint --fix, sort-package-json

Add engines field to package.json
  package.json
Due: sort-package-json

Fix typo in readme
  README.md
Due: none

Add license file
  LICENSE
Due: none

Add repo info to package.json
  package.json
Due: sort-package-json

Remove stale comment
  src/views/Root.jsx
Due: eslint --fix

Add "Running the App" section to readme
  README.md
Due: none

Configure ESLint for webpack.config.js
  .eslintignore
  .eslintrc.yaml
Due: none

Add webpack-dev-server
  package-lock.json
  package.json
  webpack.config.js
Due: eslint --fix, sort-package-json

Configure serve to handle reloads & non-index routes
  README.md
  package.json
Due: sort-package-json

Add error page
  assets/css/error-page.css
  src/index.js
  src/views/ErrorPage.jsx
Due: eslint --fix

Rename index.js to index.jsx
  package.json
  src/index.jsx
  webpack.config.js
Due: eslint --fix, sort-package-json

Optimize by using React Router loaders
  src/index.jsx
  src/views/About.jsx
  src/views/Home.jsx
  src/views/Index.jsx
  src/views/Root.jsx
Due: eslint --fix

Configure webpack devtool
  webpack.config.js
Due: eslint --fix

Remove excess newline
  src/index.jsx
Due: eslint --fix

Optimize /home redirect
  src/index.jsx
  src/views/Index.jsx
Due: eslint --fix

Fix "lint:js" script and discovered lint issues
  package-lock.json
  package.json
  src/components/AuthProvider.jsx
  src/components/BlogPosting.jsx
  src/components/VerifyAuth.jsx
Due: eslint --fix, sort-package-json

Handle login errors
  src/components/AuthProvider.jsx
  src/views/Login.jsx
Due: eslint --fix

Convert auth from form data to JSON
  src/components/AuthProvider.jsx
Due: eslint --fix

Update readme
  README.md
Due: none

Change BlogPosting key(s)
  src/views/Home.jsx
Due: eslint --fix

Update ESLint command
  package.json
Due: sort-package-json

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  sort-package-json: any of: package.json
